<div id="header">
    <div id="bannertop" class="row">
        <div class="hidden-xs hidden-lag">
             <img src="assets/images/header.png" alt="banner"/>
        </div>
    </div>
    <div class="header-bottom">
        <div class="navbar-header2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu2" aria-controls="menu2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                Menu
            </button>
        </div><!-- .navbar-header -->
        <div class="collapse navbar-collapse" id="menu2">
            <ul class="nav navbar-nav main-menu2 group">

                <li><a href="/index.html" title="Trang chính">Trang chính</a>

                <li class="item-with-ul "><a href="assets/danh-sach/gioi-thieu.html" title="Giới Thiệu">Giới thiệu</a>
                    <ul>
                        <li><a href="assets/danh-sach/lich-su-hinh-thanh.html" title="Lịch sử hình thành">Lịch sử hình thành</a>
                        </li>
                        <li><a href="assets/danh-sach/co-cau-to-chuc.html" title="Cơ cấu tổ chức">Cơ cấu tổ chức</a>
                        </li>
                    </ul>
                </li>

                <li class="item-with-ul "><a href="assets/danh-sach/hoat-dong-cua-hoi.html" title="Hoạt động của hội">Hoạt động của hội</a>
                    <ul>
                        <li><a href="assets/danh-sach/to-chuc.html" title="Tổ chức">Tổ chức</a>
                        </li>
                        <li><a href="assets/danh-sach/lao-dong-viec-lam.html" title="Lao động việc làm">Lao động việc làm</a>
                        </li>
                        <li><a href="assets/danh-sach/tuyen-truyen-van-hoa-giao-duc.html" title="Tuyên truyền Văn hóa Giáo dục">Tuyên truyền Văn hóa Giáo dục</a>
                        </li>
                        <li><a href="assets/danh-sach/quan-he-quoc-te.html" title="Quan hệ quốc tế">Quan hệ quốc tế</a>
                        </li>
                        <li><a href="assets/danh-sach/phu-nu-va-tre-em.html" title="Phụ nữ và trẻ em">Phụ nữ và trẻ em</a>
                        </li>
                        <li><a href="assets/danh-sach/trung-tam.html" title="Trung tâm ĐTPHCN cho người mù">Trung tâm ĐTPHCN cho người mù</a>
                        </li>
                        <li><a href="assets/danh-sach/tap-chi-doi-moi.html" title="Tạp chí đời mới">Tạp chí Đời mới</a>
                        </li>
                    </ul></li>

                <li><a href="assets/danh-sach/san-pham-va-dich-vu.html" title="Sản Phẩm">Sản phẩm &amp; dịch vụ</a>
                </li>

                <li class="item-with-ul "><a href="assets/danh-sach/thu-vien.html" title="Thư Viện">Thư viện</a>
                    <ul>
                        <li><a href="assets/danh-sach/sach-noi.html" title="Sách nói">Sách nói</a>
                        </li>
                        <li><a href="assets/danh-sach/sach-van-ban.html" title="Sách văn bản">Sách văn bản</a>
                        </li>
                        <li><a href="assets/danh-sach/sach-chu-noi.html" title="Sách chữ nổi">Sách chữ nổi</a>
                        </li>
                    </ul></li>

                <li class="item-with-ul "><a href="assets/danh-sach/van-ban.html" title="Văn bản">Văn bản</a>
                    <ul>
                        <li><a href="assets/danh-sach/van-ban-quy-pham-phap-luat.html" title="Văn bản quy phạm pháp luật">Văn bản Qui phạm pháp luật</a>
                        </li>
                        <li><a href="assets/danh-sach/van-ban-cua-hoi.html" title="Văn bản của hội">Văn bản của Hội</a>
                        </li>
                        <li><a href="assets/danh-sach/van-ban-khac.html" title="Văn bản khác">Văn bản khác</a>
                        </li>
                    </ul></li>
                <li><a href="assets/danh-sach/dien-dan.html" title="Diễn đàn">Diễn đàn</a></li>
            </ul>
        </div><!-- .navbar-collapse -->
    </div>
</div>