<style>
ul.nav h1>a {
    display: inline;
    
}
ul.nav h1 a.item-sub {
 padding-left: 0px;
 padding-right: 20px;
}
</style>
<div id="header">
    <div id="bannertop" class="row">
        <div class="hidden-lag">
            <!-- <img src="assets/images/header.png" style="height: 276px;" alt="banner"/> -->
            <img src="{{url_mac_dinh}}/{{data[0].banner}}" style="height: 276px;" alt="banner" />
            <div class="search">
                
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="navbar-header2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu3"
                aria-controls="
                " aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
            </button>
        </div>
        <!-- .navbar-header -->
        <div class="collapse navbar-collapse" id="menu2">
            <ul class="nav navbar-nav main-menu2 group">
                <li class="item-with-ul" *ngFor="let item of data_menu">
                    <h1 class="menu-parent">
                        <a [routerLink]="[item.url]" title="{{item.ten}}">
                            {{item.ten}}
                            <i class="caret dropdown" *ngIf="item.children && item.children.length > 0"></i>
                        </a>
                    </h1>
                    <ul  *ngIf="item.children && item.children.length > 0">
                        <li *ngFor="let item1 of item.children">
                            <h1 class="menu-item">
                                <a [routerLink]="[item1.url]" routerLinkActive="router-link-active"
                                    title="{{item1.ten}}">
                                    {{item1.ten}}
                                </a>
                            </h1>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        
        <div class="collapse navbar-collapse menu-mobile" id="menu3">
                <ul class="nav navbar-nav main-menu2 group">
                    <li class="item-with-ul" *ngFor="let item of data_menu">
                        <h1 class="menu-parent">
                            <a [routerLink]="[item.url]" title="{{item.ten}}">
                                {{item.ten}}
                            </a>
                            <a class="item-sub" data-toggle="dropdown" *ngIf="item.children && item.children.length > 0" role="button" v-model="selected" aria-haspopup="true" aria-expanded="false"><i class="caret"></i></a>
                        </h1>
                        <ul class="dropdown-menu" *ngIf="item.children && item.children.length > 0">
                            <li class="dropdown-item" *ngFor="let item1 of item.children">
                                <h1 class="menu-item">
                                    <a [routerLink]="[item1.url]" routerLinkActive="router-link-active"
                                        title="{{item1.ten}}">
                                        {{item1.ten}}
                                    </a>
                                </h1>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> 
        <!-- .navbar-collapse-->
    </div>
</div>