<div id="header">
    <div id="bannertop" class="row">
        <div class="hidden-xs hidden-lag">
             <!-- <img src="assets/images/header.png" style="height: 276px;" alt="banner"/> -->
             <img src="{{url_mac_dinh}}/{{data[0].banner}}" style="height: 276px;" alt="banner"/>

        </div>
    </div>
    <div class="header-bottom">
        <div class="navbar-header2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu2" aria-controls="menu2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                Menu
            </button>
        </div>
        <!-- .navbar-header -->
        <div class="collapse navbar-collapse" id="menu2">
            <ul class="nav navbar-nav main-menu2 group">
                
                <!-- <li *ngFor="let item of data_menu" ><a href="" title="Trang chính"></a>{{item.ten}}</li> -->
                <!-- <li><a [routerLink]="['']" routerLinkActive="router-link-active"  title="Trang chính">Trang chính</a> -->

                <li class="item-with-ul" *ngFor="let item of data_menu"><a [routerLink]="[item.url]" title="Giới Thiệu">{{item.ten}} <i class="caret" *ngIf="item.children && item.children.length > 0"></i></a>
                    <ul *ngIf="item.children && item.children.length > 0">
                        <li *ngFor="let item1 of item.children"><a [routerLink]="[item1.url]" routerLinkActive="router-link-active"  title="Lịch sử hình thành">{{item1.ten}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- .navbar-collapse -->
    </div>
</div>