<div id="footer" class="container-fluid" [innerHTML]="data[0].footer">
    <!-- <div id="info-footer" class="column">
            <div  class="quaheight col-md-6 col-sm-12">
                <p>
                    © Hội Người mù Việt Nam<br>
                    Số 139 Nguyễn Thái Học, Ba Đình, Hà Nội. Điện thoại: (+8424)38452060; Fax: (+8424)38452537<br>
                    Website: http://www.hnmvn.vn. Mọi thông tin trích dẫn xin ghi rõ nguồn "Trung ương Hội Người mù Việt
                    Nam"
                </p>
            </div>
    
            <div class="quaheight col-md-6 hidden-xs">
                <br>
                <p style="text-align: center"> Lượt truy cập: </p>
            </div>
    
        </div> -->
        <!-- <div class="counter">
            <a href='https://www.symptoma.ro/'>Symptoma.ro</a>
        </div> -->
    </div>