.tin-noi-bat{margin: 0; font-size: 10pt; color: white;}
.tin-moi {
    ul.dongtin li:first-child {
        background-image: none;

        p {
            line-height: 1.25;
        }
    }
}

.block-right {
    .tinmoi {
        ul.dongtin li {
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
}

.content-left .dongtin li {
    line-height: 1.25;
    background-image: none;

    .tieu-de {
        font-weight: bold;
    }
}

.text {
    margin-top: 5px;
    font-weight: initial;
}

.xem-tiep {
    font-weight: initial;
    font-size: 12px;
}
.titletinmoi{
    margin: 0;
    background-color: white;
    font-size: 10pt;
}