<div #heightScreen id="boxleft" class="row">
    <div class="block-left col-md-6 col-sm-6 col-xs-12">
        <a href="#"><img src="{{url_mac_dinh}}/{{tin_moi_nhat[0].bai_viet.hinh_anh ? tin_moi_nhat[0].bai_viet.hinh_anh : ''}}" alt="{{tin_moi_nhat ? tin_moi_nhat[0].bai_viet.tieu_de : ''}}" /></a>
        <div class="ndtinnoibat">
            <a class="title" [routerLink]="[tin_moi_nhat[0].url ? (tin_moi_nhat[0].url + '/' + tin_moi_nhat[0].bai_viet.url) : '']"
                routerLinkActive="router-link-active"><b>{{tin_moi_nhat ? tin_moi_nhat[0].bai_viet.tieu_de : ""}}</b></a>
            <p align="justify">{{tin_moi_nhat ? tin_moi_nhat[0].bai_viet.mo_ta : ""}}</p>
        </div>
    </div>

    <div class="block-right col-md-6 col-sm-6 col-xs-12">
        <div class="tinmoi">
            <h2 class="titletinmoi group"><a>Tin mới nhất</a></h2>
            <ul class="dongtin">
                <li *ngFor="let item of ds_tin_moi, let i = index">
                    <a [routerLink]="[item.url + '/' + item.bai_viet.url]" routerLinkActive="router-link-active"><b>{{item.bai_viet.tieu_de}}</b></a>
                    <p *ngIf="i==0">{{item.bai_viet.mo_ta}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="mainleft" class="content-left row">

    <div class="boxblog group" *ngFor="let item of ds_chuyen_muc">
        <ul class="title1">
            <li>
                <h2>{{item.ten}}</h2>
            </li>
        </ul>

        <div class="blog group">
            <div class="block-left col-md-6 col-sm-6 col-xs-12">
                <div>
                    <a [routerLink]="[item.url+'/'+item.bai_viet[0].url]" routerLinkActive="router-link-active"><img
                            src="{{url_mac_dinh}}/{{item.bai_viet[0].hinh_anh}}" alt="{{item.bai_viet[0].tieu_de}}" /></a>
                </div>
                <div>
                    <a [routerLink]="[item.url+'/'+item.bai_viet[0].url]" routerLinkActive="router-link-active"><b>{{item.bai_viet
                            ? item.bai_viet[0].tieu_de : ""}}</b></a>
                    <p>{{item.bai_viet ? item.bai_viet[0].mo_ta : ""}}</p>
                </div>
            </div>

            <div class="block-right col-md-6 col-sm-6 col-xs-12">
                <div class="tinmoi">
                    <ul class="dongtin">
                        <li *ngFor="let item1 of item.bai_viet"><a [routerLink]="item.url +'/'+ item1.url"
                                routerLinkActive="router-link-active">{{item1.tieu_de}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>