<div id="boxleft" class="row">
    <div class="block-left col-md-6 col-sm-6 col-xs-12">
        <a href="#"><img src="{{url_mac_dinh}}/{{tin_moi_nhat ? tin_moi_nhat.hinh_anh : ''}}" alt="{{tin_moi_nhat ? tin_moi_nhat.tieu_de : ''}}" /></a>
        <div class="ndtinnoibat">
            <a class="title" href="#"><b>{{tin_moi_nhat ? tin_moi_nhat.tieu_de : ""}}</b></a>
            <p align="justify">{{tin_moi_nhat ? tin_moi_nhat.mo_ta : ""}}</p>
        </div>
    </div>

    <div class="block-right col-md-6 col-sm-6 col-xs-12">
        <div class="tinmoi">
            <h2 class="titletinmoi group"><a>Tin mới nhất</a></h2>
            <ul class="dongtin">
                <li *ngFor="let item of ds_tin_moi, let i = index">
                    <a [routerLink]="[item.url]" routerLinkActive="router-link-active" ><b>{{item.tieu_de}}</b></a>
                    <p *ngIf="i==0">{{item.mo_ta}}</p>
                </li>
                <!-- <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li> -->
            </ul>
        </div>
    </div>



</div>
<div id="mainleft" class="content-left row">

    <div class="boxblog group" *ngFor="let item of ds_chuyen_muc">
        <ul class="title1">
            <li>
                <h2>{{item.ten}}</h2>
            </li>
        </ul>

        <div class="blog group">
            <div class="block-left col-md-6 col-sm-6 col-xs-12">
                <a href="#"><img src="{{url_mac_dinh}}/{{item.bai_viet.url}}" alt="Thư chúc mừng năm mới 2019" /></a>
                <a href="#"><b>{{ds_chuyen_muc.bai_viet ? ds_chuyen_muc.bai_viet[0].tieu_de : ""}}</b></a>
                <p>{{ds_chuyen_muc.bai_viet ? ds_chuyen_muc.bai_viet[0].mo_ta : ""}}</p>
            </div>

            <div class="block-right col-md-6 col-sm-6 col-xs-12">
                <div class="tinmoi">
                    <ul class="dongtin">
                        <li *ngFor="let item1 of item.bai_viet"><a [routerLink]="item1.url" routerLinkActive="router-link-active" >{{item1.tieu_de}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="boxblog group">
        <ul class="title1">
            <li>
                <h2>Sản phẩm & dịch vụ</h2>
            </li>
        </ul>

        <div class="blog group">
            <div class="block-left col-md-6 col-sm-6 col-xs-12"><a href="assets/bai-viet/chitiet.html"><img src="assets/images/dohuyetap.jpg" /></a></div>
            <div class="block-right col-md-6 col-sm-6 col-xs-12">
                <h3>
                    <a href="assets/bai-viet/chitiet.html">Máy đo huyết áp phát âm</a>
                </h3>
                <p>Máy đo huyết áp phát âm kết quả Microlife BP 3AP1-3E</p>
            </div>
        </div>

    </div>

    <div class="boxblog group">
        <ul class="title1">
            <li>
                <h2>Văn bản quy phạm pháp luật</h2>
            </li>
        </ul>

        <div class="blog group">
            <div div class="block-left col-md-6 col-sm-6 col-xs-12">
                <a href="#"><img src="assets/images/tet.jpg" alt="Thư chúc mừng năm mới 2019" /></a>
                <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                <p>Nhân dịp đón mừng năm mới Kỉ Hợi (2019), ngày 24-1, TW Hội đã tổ chức buổi tọa đàm với
                    các Bộ, ban ngành, đoàn thể Trung ương.</p>
            </div>

            <div class="block-right col-md-6 col-sm-6 col-xs-12">
                <div class="tinmoi">
                    <ul class="dongtin">
                        <li>
                            <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                        </li>
                        <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                        <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                        <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                        <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                        <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="boxblog group">
            <ul class="title1">
                <li>
                    <h2>Văn bản của Hội</h2>
                </li>
            </ul>

            <div class="blog group">
                <div div class="block-left col-md-6 col-sm-6 col-xs-12">
                    <a href="#"><img src="assets/images/tet.jpg" alt="Thư chúc mừng năm mới 2019" /></a>
                    <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                    <p>Nhân dịp đón mừng năm mới Kỉ Hợi (2019), ngày 24-1, TW Hội đã tổ chức buổi tọa đàm
                        với
                        các Bộ, ban ngành, đoàn thể Trung ương.</p>
                </div>

                <div class="block-right col-md-6 col-sm-6 col-xs-12">
                    <div class="tinmoi">
                        <ul class="dongtin">
                            <li>
                                <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                            </li>
                            <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                            <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                            <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                            <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                            <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>