<div id="mainmiddle">

        <div class="boxmiddle1">
            <div class="titboxmidle1">
                <a title="Bấm vào đây để xem thư viện ảnh" href="#">Thư viện hình ảnh</a>
            </div>
            <a data-toggle="modal" data-target="#myModal">
                <img src="assets/images/scan0002.jpg" alt="Hưởng ứng ngày cây gậy trắng quốc tế"></a>
            <p>Hưởng ứng ngày cây gậy trắng quốc tế</p>
        </div>
    
        <div class="boxmiddle3">
            <div class="titboxmidle3">
                <a title="" href="#">Khoa học đời sống</a>
            </div>
            <div class="contentmiddle3">
                <a href="">
                    <strong>Một số mẹo làm tăng tuổi thọ của pin điện thoại / </strong>
                </a>
                <p>Tăng tuổi thọ cho pin điện thoại không phải là chuyện đơn giản. Tuy nhiên, nếu bạn tuân thủ những cách
                    dưới đây, việc kéo
                    dài thời gian cho pin sẽ trở nên dễ dàng hơn.</p>
            </div>
            <div class="contentmiddle3">
                <a href="">
                    <strong>Nhược thị - Nguyên nhân và cách điều trị / </strong>
                </a>
                <p>Nhược thị là tình trạng giảm thị lực không thể cải thiện được bằng cách đeo kính hoặc dùng kính sát tròng
                    và cũng không do bất kỳ
                    bệnh nào về mắt gây ra. Theo thống kê có khoảng 3% trẻ em dưới 6 tuổi...</p>
            </div>
            <div class="contentmiddle3">
                <a href="">
                    <strong>5 sai lầm của các bà mẹ khiến trẻ hay ốm vào mùa lạnh</strong>
                </a>
                <p>Nhiều việc làm của các bà mẹ tưởng chừng như tốt cho trẻ nhưng ngược lại nó còn gây ra những tác hại xấu.
                    Hãy cùng
                    chuyên gia điểm danh 5 sai lầm khiến trẻ hay ốm vào mùa lạnh để cải thiện cho bé nhà...</p>
            </div>
        </div>
    
        <div class="boxmiddle3">
            <div class="titboxmidle3">
                <a title="" href="#">Gương chiếu hình</a>
            </div>
            <div class="contentmiddle3">
                <a href="">
                    <strong>Cô gái khiếm thị và ước mơ trở thành nhà báo </strong>
                </a>
                <p> Gặp em lần đầu tiên tại lớp cộng tác viên báo chí K76 do Trung tâm Đào tạo Phục hồi chức năng
                    cho người mù tổ chức, ấn tượng đầu tiên của tôi về em đó là cô gái tràn đầy năng lượng, sự lạc quan,
                    tự...</p>
            </div>
    
            <div class="contentmiddle3">
                <a href="">
                    <strong>Thoát nghèo từ mô hình tráng bánh đa</strong>
                </a>
                <p>Được tham gia vào tổ chức hội, được học chữ, học nghề rồi có thêm đồng vốn cùng với sự cố gắng và nghị
                    lực của bản thân, anh Đặng Quý Tỵ ở xã Kỳ Châu, huyện Kỳ Anh tỉnh Hà Tĩnh đã vượt qua những khó...</p>
            </div>
    
            <div class="contentmiddle3">
                <a href="">
                    <strong>Người thương binh tài hoa</strong>
                </a>
                <p> Mới đấy mà đã tròn 40 năm kể từ ngày tôi bị thương và thành người thương binh khiếm thị. Những cung bậc
                    của cảm xúc trong suốt chặng đường 40 năm qua lại hiện về khiến tôi vừa rưng rưng xúc động lại...</p>
            </div>
        </div>
    
        <div class="boxmiddle3">
            <div class="titboxmidle3">
                <a title="" href="#"> ỦNG HỘ TỪ THIỆN </a>
            </div>
    
            <div class="contentmiddle3">
                <div><a href=""><img src="assets/images/10003.jpg" alt="Một số hoạt động từ thiện tại các địa phương" /></a></div>
                <a href="">Một số hoạt động từ thiện tại các địa phương </a>
            </div>
    
            <div class="contentmiddle3">
                <a href="">Hoạt động từ thiện tại Bắc Giang</a>
            </div>
    
            <div class="contentmiddle3">
                <!-- <a href=""><img src="/images/011.jpg" alt="Tặng quà Tết cho người mù khó khăn" /> </a>  -->
                <a href="">Tặng quà Tết cho người mù khó khăn </a>
    
            </div>
        </div>
    
    </div>