<div id="mainmiddle">
    <!-- <div class="boxmiddle1 carousel slide">
        <ul class="title1"><li><a title="Bấm vào đây để xem thư viện ảnh" ><h2>{{thu_vien_hinh_anh[0].ten ? thu_vien_hinh_anh[0].ten : ""}}</h2></a></li></ul>
        <div class="carousel-inner">
            <a data-toggle="modal" data-target="#myModal">
                <img src="{{url_mac_dinh}}/{{thu_vien_hinh_anh[0].bai_viet.hinh_anh ? thu_vien_hinh_anh[0].bai_viet.hinh_anh[0]['hinh_anh'] : ''}}" alt="{{thu_vien_hinh_anh[0].bai_viet.tieu_de ? thu_vien_hinh_anh[0].bai_viet.tieu_de : ''}}">
            </a>
            <p>{{thu_vien_hinh_anh[0].bai_viet.tieu_de ? thu_vien_hinh_anh[0].bai_viet.tieu_de : ''}}</p>
            <div class="text-right">
                <a [routerLink]="[url]" style="color: white; margin-right: 30px;">Xem tất cả</a>
            </div>
        </div>
        <a class="left carousel-control" href="javascript:" data-slide="prev" (click)="prev()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="javascript:" data-slide="next" (click)="next()">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
    </div> -->

    <div class="boxmiddle3" *ngFor="let item of chuyen_muc_khac">
        <!-- <div class="titboxmidle3">
            <a title="" [routerLink]="[item.url]" routerLinkActive="router-link-active" >{{item.ten}}</a>
        </div> -->
        <ul class="title1">
            <li><a [routerLink]="[item.url]" routerLinkActive="router-link-active">
                    <h2>{{item.ten}}</h2>
                </a></li>
        </ul>
        <div class="contentmiddle3" *ngFor="let item1 of item.bai_viet">
            <a [routerLink]="[item.url +'/'+ item1.url]" routerLinkActive="router-link-active">
                <strong>{{item1.tieu_de}} </strong>
            </a>
            <p>{{item1.mo_ta}}</p>
        </div>
    </div>
    <div class="boxmiddle3">
        <ul class="title1">
            <li>
                <a>
                    <h2>Văn học nghệ thuật</h2>
                </a>
            </li>
        </ul>
        <div class="contentmiddle3" *ngFor="let item of van_hoc_nghe_thuat">
            <a [routerLink]="['/'+ item.url]">
                <strong>{{item.ten}}</strong>
            </a>
        </div>
    </div>

    <div class="boxmiddle3" *ngFor="let item of data_lienket">
        <ul class="title1">
            <li>
                <h2>{{item.bai_viet.tieu_de}}</h2>
            </li>
        </ul>
        <div class="contentmiddle3">
            <!-- <a [routerLink]="[item.url +'/'+ item1.url]" routerLinkActive="router-link-active" >
                <strong>{{item1.tieu_de}} </strong>
            </a> -->
            <p innerHTML="{{item.bai_viet.noi_dung}}"></p>
        </div>
    </div>
</div>