<div id="wraper-site" class="container">
    <app-header></app-header>

    <div class="row" id="dattime">Hôm nay, ngày tháng năm 2019</div>

    <div id="boxtintuc" class="row">
        <div class="col-md-8 col-sm-12">
            <div id="boxleft" class="row">
                <div class="block-left col-md-6 col-sm-6 col-xs-12">
                    <a href="#"><img src="assets/images/tet.jpg" alt="Thư chúc mừng năm mới 2019" /></a>
                    <div class="ndtinnoibat">
                        <a class="title" href="#"><b>Thư chúc mừng năm mới 2019</b></a>
                        <p align="justify">Nhân dịp đón mừng năm mới 2019 và xuân Kỷ Hợi, thay mặt Ban Thường vụ Trung
                            ương
                            Hội Người mù Việt Nam, tôi thân ái gửi đến toàn thể cán bộ, hội viên trong toàn Hội những
                            tình
                            cảm thân thiết và lời chúc mừng tốt đẹp nhất.</p>
                    </div>
                </div>

                <div class="block-right col-md-6 col-sm-6 col-xs-12">
                    <div class="tinmoi">
                        <h2 class="titletinmoi group"><a>Tin mới nhất</a></h2>
                        <ul class="dongtin">
                            <li>
                                <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                                <p>Nhân dịp đón mừng năm mới Kỉ Hợi (2019), ngày 24-1, TW Hội đã tổ chức buổi tọa đàm
                                    với
                                    các Bộ, ban ngành, đoàn thể Trung ương.</p>
                            </li>
                            <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                            <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                            <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                            <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                            <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li>
                        </ul>
                    </div>
                </div>



            </div>
            <div id="mainleft" class="row">

                <div class="boxblog group">
                    <ul class="title1">
                        <li>
                            <h2>Hoạt động của hội</h2>
                        </li>
                    </ul>

                    <div class="blog group">
                        <div class="block-left col-md-6 col-sm-6 col-xs-12">
                            <a href="#"><img src="assets/images/tet.jpg" alt="Thư chúc mừng năm mới 2019" /></a>
                            <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                            <p>Nhân dịp đón mừng năm mới Kỉ Hợi (2019), ngày 24-1, TW Hội đã tổ chức buổi tọa đàm với
                                các Bộ, ban ngành, đoàn thể Trung ương.</p>
                        </div>

                        <div class="block-right col-md-6 col-sm-6 col-xs-12">
                            <div class="tinmoi">
                                <ul class="dongtin">
                                    <li>
                                        <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                                    </li>
                                    <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                                    <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                                    <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                                    <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                                    <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="boxblog group">
                    <ul class="title1">
                        <li>
                            <h2>Sản phẩm & dịch vụ</h2>
                        </li>
                    </ul>

                    <div class="blog group">
                        <div class="block-left col-md-6 col-sm-6 col-xs-12"><a href="assets/bai-viet/chitiet.html"><img
                                    src="assets/images/dohuyetap.jpg" /></a></div>
                        <div class="block-right col-md-6 col-sm-6 col-xs-12">
                            <h3>
                                <a href="assets/bai-viet/chitiet.html">Máy đo huyết áp phát âm</a>
                            </h3>
                            <p>Máy đo huyết áp phát âm kết quả Microlife BP 3AP1-3E</p>
                        </div>
                    </div>

                </div>

                <div class="boxblog group">
                    <ul class="title1">
                        <li>
                            <h2>Văn bản quy phạm pháp luật</h2>
                        </li>
                    </ul>

                    <div class="blog group">
                        <div div class="block-left col-md-6 col-sm-6 col-xs-12">
                            <a href="#"><img src="assets/images/tet.jpg" alt="Thư chúc mừng năm mới 2019" /></a>
                            <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                            <p>Nhân dịp đón mừng năm mới Kỉ Hợi (2019), ngày 24-1, TW Hội đã tổ chức buổi tọa đàm với
                                các Bộ, ban ngành, đoàn thể Trung ương.</p>
                        </div>

                        <div class="block-right col-md-6 col-sm-6 col-xs-12">
                            <div class="tinmoi">
                                <ul class="dongtin">
                                    <li>
                                        <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                                    </li>
                                    <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                                    <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                                    <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                                    <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                                    <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="boxblog group">
                        <ul class="title1">
                            <li>
                                <h2>Văn bản của Hội</h2>
                            </li>
                        </ul>

                        <div class="blog group">
                            <div div class="block-left col-md-6 col-sm-6 col-xs-12">
                                <a href="#"><img src="assets/images/tet.jpg" alt="Thư chúc mừng năm mới 2019" /></a>
                                <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                                <p>Nhân dịp đón mừng năm mới Kỉ Hợi (2019), ngày 24-1, TW Hội đã tổ chức buổi tọa đàm
                                    với
                                    các Bộ, ban ngành, đoàn thể Trung ương.</p>
                            </div>

                            <div class="block-right col-md-6 col-sm-6 col-xs-12">
                                <div class="tinmoi">
                                    <ul class="dongtin">
                                        <li>
                                            <a href="#"><b>TW Hội tọa đàm với cán bộ, ban ngành đoàn thể</b></a>
                                        </li>
                                        <li><a href="">Hội nghị tổng kết công tác Hội tại Vĩnh Phúc </a></li>
                                        <li><a href="">Tỉnh hội Quảng Trị tổ chức hội nghị tổng kết </a></li>
                                        <li><a href="">Hoạt động chăm sóc, tặng quà Tết cho hội viên và người mù</a></li>
                                        <li><a href="">Mang ánh sáng tri thức đến với người mù </a></li>
                                        <li><a href="">Một số mẹo làm tăng tuổi thọ của pin điện thoại </a></li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs">
            <div id="qcbanner" class="row">
                <div class="boxmiddle2">
                    <a title="" href="#">Xem tất cả</a>
                    <div class="contentmiddle2">
                        <div id="iframevideo">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/yaT3_WFkvI4"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <ul class="postmd2">
                            <li><a title="" href="">Giới thiệu về phim dành cho người khiếm thị trên VTV4 </a></li>
                            <li><a title="" href="">Hội Người mù Việt Nam: Luồng gió mới trong phong trào hoạt động </a>
                            </li>
                            <li><a title="" href="">Nguồn sáng đời em - Phần dự thi của thí sinh Nguyễn Võ Trúc Phương
                                    tại
                                    Chương
                                    trình Đường đến danh ca vọng cổ </a></li>
                            <li><a title="" href="">Thắp sáng niềm tin và khát vọng hòa nhập cộng đồng </a></li>
                            <li><a title="" href="">Phóng sự 45 năm hội người mù Việt Nam </a></li>
                            <li><a title="" href="">Hội người mù Việt Nam - Dấu ấn một nhiệm kỳ </a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <app-main-middle></app-main-middle>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>