<div id="qcbanner" class="row">
    <div class="boxmiddle2">
        
        <div class="contentmiddle2">
            <div id="iframevideo">
                <iframe width="100%" height="auto" [src]="safeSrc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <iframe width="100%" height="auto" src="{{video_moi_nhat['bai_viet'].video}}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
            <ul class="postmd2">
                <li *ngFor="let item of ds_video"><a title="" href="">{{item.bai_viet.tieu_de}}</a></li>
            </ul>
        </div>
        <div class="text-right">
            <a title="" href="#">Xem tất cả</a>
        </div>
    </div>

</div>
<div class="row">
    <app-main-middle></app-main-middle>
</div>