<div class="">
    <div class="search form-group">
        <input type="text" class="search-input"> <button class="btn btn-primary btn-sm">Tìm theo thể loại</button>
    </div>
    <div class="search search-author form-group">
        <input type="text" class="search-input"><button class="btn btn-primary btn-sm">Tìm theo tác giả</button>
    </div>
    <div class="boxblog group">
        <ul class="title1">
            <li>
                <h2>{{title}} </h2>
            </li>   
        </ul>
        <p><i>tac gia: {{tac_gia}}, the loai: {{the_loai}}</i></p>
        <div class="" *ngIf="chi_tiet_audio">
                <iframe width="100%" height="auto" [src]="chi_tiet_audio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="blog group">
            <div class="row" *ngFor="let item of ds_audio">
                <div class="block-left col-md-6 col-sm-6 col-xs-6">
                    <!-- <a [routerLink]="[item.bai_viet.url]" routerLinkActive="router-link-active"><img
                        src="{{url_mac_dinh}}/{{item.bai_viet.hinh_anh ? item.bai_viet.hinh_anh[0].hinh_anh:'' }}"
                        alt=""></a> -->
                    <a href="javascript:">{{item.title}}</a>
                </div>
                <div class="block-right col-md-6 col-sm-6 col-xs-6">
                    <h3>
                        <!-- <a [routerLink]="[item.bai_viet.url]" routerLinkActive="router-link-active" >{{item.bai_viet.tieu_de}}</a> -->
                        <a href="javascript:" class="btn btn-primary" (click)="fnDoc(item)">Đọc</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- <eui-pagination [total]="total" [pageSize]="pageSize" [pageNumber]="pageNumber"
        (pageChange)="onPageChange($event)"></eui-pagination> -->
    </div>
</div>